<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <title>Sản phẩm - Ngoại thất Fansipan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon'/ >
    <meta name="description" content="Bàn ghế Patio của Ngoại thất Fansipan thuộc dòng sản phẩm bàn ghế ngoài trời, với thiết kế sang trọng, tinh tế và hiện đại chuyên dùng cho sân vườn và quán cafe">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" id="togbar">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="images/plain_logo.png" height="110px" alt="" id="top_left_logo"/></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <img src="images/top_right.png" height="180px" id="top_right_markup"/>
      <ul class="nav navbar-nav" id="links_list">
        <li class=" menu-item-hover"><a href="/">Trang chủ</a></li>
        <li class=" menu-item-hover"><a href="/gioithieu">Giới thiệu</a></li>
        <li class="current_page menu-item-hover"><a href="/ban-ghe-patio">Bàn ghế Patio</a></li>
        <li class=" menu-item-hover"><a href="/phanphoi">Nhà phân phối</a></li>
        <li class=" menu-item-hover"><a href="/lienhe">Liên hệ</a></li>
      </ul>
    </div>

  </div>
</nav>
  <section>
    <header>
      <div id="sticky-anchor"></div>
      <div class="container-fluid" id="sticky">
        <div class="row">
          <div class="col-sm-3 text-center">
              <h3 style="color: #08A650; margin-top:18px !important;">Bàn ghế Patio</h3>
          </div>
          <div class="col-sm-2 col-xs-4 text-center">
            <h5 style="margin-top: 23px; padding-bottom: 10px;"><a href="/ban-ghe-patio" style="color: #ffe066;"><span class="glyphicon glyphicon-pencil"></span> Thiết kế</a></h5>
          </div>
          <div class="col-sm-2 col-xs-4 text-center">
            <h5 style="margin-top: 23px; padding-bottom: 10px;"><a href="/ban-ghe-patio/hinhanh" style="color: #FAAE1B;"><span class="glyphicon glyphicon-picture"></span> Hình ảnh</a></h5>
          </div>
          <div class="col-sm-2 col-xs-4 text-center">
            <h5 style="margin-top: 23px; padding-bottom: 10px;"><a href="/phanphoi" style="color: #FAAE1B;"><span class="glyphicon glyphicon-shopping-cart"></span> Mua hàng</a></h5>
          </div>
        </div>
      </div>
</header>
<article>
  <div class="container-fluid">
  <div class="row part1">
    <div class="col-md-4 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
      <p class="space1 smaller0 text-center">Kiểu dáng sang trọng</p>
      <p class="patio-content">Sản phẩm bàn ghế Patio của Ngoại thất Fansipan sở hữu dáng vẻ thanh mảnh, gọn gàng. Bề mặt gỗ được phủ một lớp dầu có tác dụng không những chống thấm nước 100% mà còn tôn lên màu sắc và vân tự nhiên của gỗ. Khung thép oval được thiết kế vững chãi về kết cấu nhưng không thiếu đi sự mềm mại trong thẩm mỹ. Tất cả đã tạo nên dáng vẻ ấn tượng mà thanh nhã của bộ bàn ghế Patio.</p>
      <p class="patio-content"><a href="/ban-ghe-patio/hinhanh">>> Bấm vào đây để xem thêm hình ảnh</a></p>
    </div>
    <div class="col-md-7 col-sm-12">
      <a href="/ban-ghe-patio/hinhanh"><img src="images/1.png" alt="" class="img img-responsive img-rounded pro-img-ani" /></a>
    </div>
  </div>
  <div class="row part2" style="background-color: #eee; overflow: hidden;">
    <div class="col-sm-10 col-xs-12 col-sm-offset-1">
      <p class="text-center space2 smaller0">Thiết kế tinh tế</p>
      <p class="patio-content">Sản phẩm bàn ghế Patio của Ngoại thất Fansipan là sự hội tụ giữa xu hướng sử dụng nan gỗ cho bàn ghế ngoài trời đang được ưa chuộng trên Thế giới và sở thích chọn lựa các sản phẩm có những đường nét hài hoà của người Việt. Chính vì vậy, các nan gỗ ốp gối và tựa vai đều được làm cong theo chiều tiếp xúc với người ngồi để đảm bảo tính thẩm mỹ và sự thoải mái cho người sử dụng. Không những thế, ghế Patio còn ra mắt người tiêu dùng với hai loại tựa lưng cong và tựa lưng thẳng chiều theo cá tính của người tiêu dùng. Đó chính là điểm khác biệt của bộ bàn ghế Patio mà chưa một sản phẩm bàn ghế ngoại thất nào trên thị trường Việt Nam có được. </p>
    </div>
    <div class="col-sm-5 col-sm-offset-1 col-xs-6">
      <a href="/ban-ghe-patio/hinhanh"><img src="images/timi_2.png" alt="" class="img img-responsive img-rounded pro-img-ani" /></a>
    </div>
    <div class="col-sm-5 col-xs-6">
      <a href="/ban-ghe-patio/hinhanh"><img src="images/timi_1.png" alt="" class="img img-responsive img-rounded pro-img-ani" /></a>
    </div>
  </div>
  <div class="row part3">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <p class="space3 smaller0 text-center">Phong cách hiện đại</p>
      <p class="patio-content">Sản phẩm bàn ghế Patio của ngoại thất Fansipan ra mắt với người tiêu dùng chung một kiểu dáng nhưng với nhiều style khác nhau. Bạn có thể tuỳ chọn về màu sắc khung thép, mặt tựa lưng ghế hay mặt bàn. Ngoài ra, các sản phẩm bàn, ghế thuộc dòng Patio đều có thể được gập gọn gàng, tiết kiệm không gian cho người sử dụng.</p>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          <a href="/ban-ghe-patio/hinhanh"><img src="images/tinhte_1.png" alt="" class="img img-responsive img-rounded pro-img-ani" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="/ban-ghe-patio/hinhanh"><img src="images/Den_cheo.png" alt="" class="img img-responsive img-rounded pro-img-ani" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="/ban-ghe-patio/hinhanh"><img src="images/tinhte_2.png" alt="" class="img img-responsive img-rounded pro-img-ani" /></a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="/ban-ghe-patio/hinhanh"><img src="images/Den_thang.png" alt="" class="img img-responsive img-rounded pro-img-ani" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row part4">
    <div class="col-md-5 col-sm-10 col-sm-offset-1">
    <p class="space4 smaller0 text-center">Phù hợp với mọi không gian</p>
    <p class="patio-content">Sản phẩm bàn ghế Patio của ngoại thất Fansipan được thiết kế và sản xuất phù hợp với môi trường Việt Nam, có thể chịu được nước mưa hay nắng nóng. Với tính thẩm mỹ cao, gọn gàng, tiện lợi cùng khả năng chống chịu tốt, bàn ghế Patio có thể sử dụng cho sân vườn, quán cafe, nhà hàng, khách sạn..., góp phần tăng lên sự sang trọng, tinh tế và hiện đại cho mọi không gian.</p>
    <p class="patio-content"><a href="/phanphoi">>> Bấm vào đây để tìm cửa hàng phân phối.</a></p>
  </div>
    <div class="col-md-4 col-sm-10 col-xs-12 ol-sm-offset-3 photos-container">
      <div class="photos">
          <a href="/ban-ghe-patio/hinhanh"><img src="images/cata1.jpg" alt="" class="img img-responsive img-rounded"/></a>
          <a href="/ban-ghe-patio/hinhanh"><img src="images/cata_1.jpg" alt="" class="img img-responsive  img-rounded"/></a>
          <a href="/ban-ghe-patio/hinhanh"><img src="images/cata3.jpg" alt="" class="img img-responsive  img-rounded"/></a>
          <a href="/ban-ghe-patio/hinhanh"><img src="images/cata4.jpg" alt="" class="img img-responsive  img-rounded"/></a>
      </div>
    </div>
  </div>
</div>
</article>
<footer><hr></footer>
</section>
<div class="container-fluid footer-container">
  <div class="container">
    <h4 style="color: #08A650">Công ty Cổ phần Ngoại Thất Fansipan</h4>
    <div class="row">
      <div class="col-sm-5 col-xs-12">
        <h5>Văn phòng đại diện</h5>
        <p>Địa chỉ: <em>Số 45 - Tỉnh lộ 392 - Tráng Liệt - Bình Giang - Hải Dương</em></p>
        <p>Telephone: <em>03203 776 269</em></p>
        <p>Mobile Phone: <em>0936 258 088</em></p>
        <p>Fax: <em>03203 799 309</em></p>
        <p>Email: <em>ngoaithatfansipan@gmail.com</em></p>
      </div>
      <div class="col-sm-4 col-xs-12">
        <h5>Nhà máy</h5>
        <p>Địa chỉ: <em>Km 18 - Tỉnh lộ 394 - Tân Hồng - Bình Giang - Hải Dương</em></p>
      </div>
      <div class="col-sm-3 col-xs-12">
        <h5>Kết nối với chúng tôi</h5>
        <h5><img src="/images/fb.png" width="24px"alt="" /> <a href="https://www.facebook.com/ngoaithatfansipan/">@ngoaithatfansipan</a></h5>
        <h5><img src="/images/twitter.png" width="30px"alt="" /> <a href="https://twitter.com/fansipanpatio/">@fansipanpatio</a></h5>
        <h5><img src="/images/insta.png" width="25px"alt="" /> <a href="https://www.instagram.com/ngoaithatfansipan/">@ngoaithatfansipan</a></h5>
      </div>
    </div>
    <footer class="text-center" style="margin-bottom: 5px; color: #aaa;">Copyright © 2016 Ngoai that Fansipan Joint-stock Company. All rights reserved.</footer>
  </div>
</div>
</body>
  <script type="text/javascript" src="javascripts/script.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81181400-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
