<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <title>Giới thiệu - Ngoại thất Fansipan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon'/ >
    <meta name="description" content="Tìm hiểu Ngoại thất Fansipan - công ty đi đầu Việt Nam trong thiết kế và sản xuất ngoại thất, bàn ghế ngoài trời, bàn ghế cafe từ chất liệu gỗ và sắt">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" id="togbar">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="images/plain_logo.png" height="110px" alt="" id="top_left_logo"/></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <img src="images/top_right.png" height="180px" id="top_right_markup"/>
      <ul class="nav navbar-nav" id="links_list">
        <li class="menu-item-hover"><a href="/">Trang chủ</a></li>
        <li class="menu-item-hover"><a href="/ban-ghe-kite">Kite</a></li>
        <li class="menu-item-hover"><a href="/ban-ghe-patio">Patio</a></li>
        <li class="menu-item-hover"><a href="/phanphoi">Nhà phân phối</a></li>
        <li class="menu-item-hover"><a href="/lienhe">Liên hệ</a></li>
      </ul>
    </div>

  </div>
</nav>
<section>
<div class="container">
  <header>
  <h3 class="text-center" style="color: #08A650">Công ty Cổ phần Ngoại thất Fansipan xin kính chào quý khách hàng!</h3>
</header>
<article>
  <br>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kính thưa quý khách hàng!
  </p>
  <br>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Công ty Cổ phần <a href="http://www.ngoaithatfansipan.com">Ngoại thất Fansipan</a> tiền thân là một công ty sản xuất đồ gỗ xuất khẩu cho hãng Đồ gỗ Nội thất IKEA Thuỵ Điển. <a href="http://www.ngoaithatfansipan.com">Ngoại thất Fansipan</a> bằng nền tảng kinh nghiệm và công nghệ sản xuất sản phẩm bàn ghế ngoài trời xuất khẩu, nay khoác trên mình sứ mệnh đem toàn bộ nỗ lực và tâm huyết của chúng tôi, để đưa những sản phẩm ngoại thất gỗ tự nhiên với độ tinh xảo và tính thẩm mỹ cao đến với người tiêu dùng Việt Nam với giá cả cạnh tranh nhất trên thị trường.</p>
  <br>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quan trọng hơn cả, chúng tôi luôn mong muốn có được sự ủng hộ từ quý khách hàng, cùng <a href="http://www.ngoaithatfansipan.com">Ngoại thất Fansipan</a> đưa đến tay người tiêu dùng khắp 63 tỉnh thành của Việt Nam những sản phẩm người Việt - giá Việt nhưng với chất lượng và đẳng cấp quốc tế.</p>
  <br>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Với sứ mệnh và tầm nhìn không hề nhỏ cùng với trách nhiệm đối với người tiêu dùng Việt, <a href="http://www.ngoaithatfansipan.com">Ngoại thất Fansipan</a> xin tuyên bố và cam kết tới người tiêu dùng 3 trụ cột để chúng tôi xây dựng và phát triển, cũng như thực hiện nghĩa vụ của mình đối với thị trường Việt Nam:</p>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <h4 style="color: #FAAE1B;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kinh nghiệm</h4>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bằng đội ngũ cán bộ quản lí cùng những người thợ tay nghề cao với hơn 12 năm sản xuất bàn ghế ngoài trời xuất khẩu và hơn 20 năm công tác trong ngành chế biến gỗ, <a href="http://www.ngoaithatfansipan.com">Ngoại thất Fansipan</a> nguyện đem hết trí tuệ - năng lực - kinh nghiệm để tạo ra những sản phẩm tuyệt mỹ đến với người tiêu dùng.</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <h4 style="color: #FAAE1B;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tâm huyết</h4>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tính thẩm mỹ luôn là kim chỉ nam cho các nhà thiết kế tại <a href="http://www.ngoaithatfansipan.com">Ngoại thất Fansipan</a>. Các mẫu sản phẩm của chúng tôi đều được thiết kế và thẩm định qua nhiều lần trước khi sản xuất và giao đến tay người tiêu dùng, để đảm bảo sự hài hoà trong từng chi tiết và phù hợp với phong cách của người Việt Nam.</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <h4 style="color: #FAAE1B;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Công nghệ</h4>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dây chuyền sản xuất của <a href="http://www.ngoaithatfansipan.com">Ngoại thất Fansipan</a> đều được nhập khẩu từ CHLB Đức, Nhật Bản, ITALIA, là những máy móc, thiết bị hiện đại, tiên tiến trên thế giới. Qua đó, những sản phẩm của <a href="http://www.ngoaithatfansipan.com">Ngoại thất Fansipan</a> luôn đạt được độ chính xác và tinh xảo nhưng vẫn tiết kiệm về chi phí. </p>
    </div>
  </div>
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Xin trân trọng cảm ơn sự quan tâm của quý khách hàng!
</article>
  <footer><hr><footer>
</div>
</section>
<div class="container-fluid footer-container">
  <div class="container">
    <h4 style="color: #08A650">Công ty Cổ phần Ngoại Thất Fansipan</h4>
    <div class="row">
      <div class="col-sm-5 col-xs-12">
        <h5>Văn phòng</h5>
        <p>Trụ sở chính: <em>Số 45 - Tỉnh lộ 392 - Tráng Liệt - Bình Giang - Hải Dương</em></p>
        <p>Chi nhánh miền Nam: <em>E4/ 52 quốc lộ 1A - phường Bình Trị Đông B - quận Bình Tân - TP Hồ Chí Minh</em></p>
      </div>
      <div class="col-sm-4 col-xs-12">
        <h5>Nhà máy</h5>
        <p>Địa chỉ: <em>Km 18 - Tỉnh lộ 394 - Tân Hồng - Bình Giang - Hải Dương</em></p>
      </div>
      <div class="col-sm-3 col-xs-12">
        <h5>Liên hệ</h5>
        <p><span class="glyphicon glyphicon-phone-alt"></span> Telephone: <em>03203 776 269</em></p>
        <p><span class="glyphicon glyphicon-phone"></span> Mobile Phone: <em>0936 258 088</em></p>
        <p><span class="glyphicon glyphicon-print"></span> Fax: <em>03203 799 309</em></p>
        <p><span class="glyphicon glyphicon-envelope"></span> Email: <em>ngoaithatfansipan@gmail.com</em></p>
        <p><img src="/images/fb.png" width="18px"alt=""/> Facebook: <a href="https://www.facebook.com/ngoaithatfansipan/">ngoaithatfansipan</a></p>
      </div>
    </div>
    <footer class="text-center" style="margin-bottom: 5px; color: #aaa;">Copyright © 2016 Ngoai that Fansipan Joint-stock Company. All rights reserved.</footer>
  </div>
</div>
</body>
  <script type="text/javascript" src="javascripts/script.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81181400-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
