<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <title>Phân phối - Ngoại thất Fansipan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon'/ >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" id="togbar">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="images/plain_logo.png" height="110px" alt="" id="top_left_logo"/></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <img src="images/top_right.png" height="180px" id="top_right_markup"/>
      <ul class="nav navbar-nav" id="links_list">
        <li class=" menu-item-hover"><a href="/">Trang chủ</a></li>
        <li class=" menu-item-hover"><a href="/gioithieu">Giới thiệu</a></li>
        <li class="menu-item-hover"><a href="/ban-ghe-patio">Bàn ghế Patio</a></li>
        <li  class="current_page  menu-item-hover"><a href="/phanphoi">Nhà phân phối</a></li>
        <li class=" menu-item-hover"><a href="/lienhe">Liên hệ</a></li>
      </ul>
    </div>

  </div>
</nav>
<section>
<div class="container">
  <h3 class="text-center" style="color: #08A650">Danh sách nhà phân phối</h3>
  <div class="row">
    <br>
    <div class="col-md-6">
      <h4><b>Hà Nội:</b></h4>
      <ul>
        <li>
        <h5>Quận Ba Đình</h5>
        <ul>
        <li>
          <p> Cửa hàng Việt Quang, số 692, Đê La Thành, quận Ba Đình, Hà Nội<p>
            <p><span class="glyphicon glyphicon-phone" role="mobile phone number"></span> 0975 525 086</p>
          </li>
        </ul>
        </li>
        <li>
        <h5>Quận Hai Bà Trưng</h5>
        <ul>
        <li>
          <p> Cửa hàng Chi Anh, số 175, Minh Khai, quận Hai Bà Trưng, Hà Nội<p>
            <p><span class="glyphicon glyphicon-phone" role="mobile phone number"></span> 0904 289 402</p>
            <p><span class="glyphicon glyphicon-phone-alt" role="telephone number"></span> 043 624 1068</p>
          </li>
          <li>
            <p> Cửa hàng Hương Thụ, số 151, Minh Khai, quận Hai Bà Trưng, Hà Nội<p>
              <p><span class="glyphicon glyphicon-phone" role="mobile phone number"></span> 0919 053 623</p>
              <p><span class="glyphicon glyphicon-phone-alt" role="telephone number"></span> 043 863 0016</p>
          </li>
        </ul>
        </li>
        <li>
        <h5>Quận Hoàn Kiếm</h5>
        <ul>
        <li>
          <p>Số 49, phố Hàm Long, quận Hoàn Kiếm, Hà Nội<p>
            <p><span class="glyphicon glyphicon-phone" role="mobile phone number"></span> 0904 534 209</p>
            <p><span class="glyphicon glyphicon-phone-alt" role="telephone number"></span> 043 943 9601</p>
          </li>
          <li>
            <p>Cửa hàng Thu Hà, số 57B, phố Hàm Long, quận Hoàn Kiếm, Hà Nội</p>
            <p><span class="glyphicon glyphicon-phone" role="mobile phone number"></span> 0123 474 6996</p>
            <p><span class="glyphicon glyphicon-phone-alt" role="telephone number"></span> 043 822 6102</p>
          </li>
        </ul>
        </li>
        <li>
          <h5>Quận Hoàng Mai</h5>
          <ul>
          <li>
            <p> Cửa hàng Minh Phương, số 176, Trương Định, quận Hoàng Mai, Hà Nội<p>
              <p><span class="glyphicon glyphicon-phone" role="mobile phone number"></span> 0977428 442</p>
              <p><span class="glyphicon glyphicon-phone-alt" role="telephone number"></span> 043 662 4840</p>
            </li>
          </ul>
        </li>
        <li>
        <h5>Quận Long Biên</h5>
        <ul>
        <li>
          <p> Cửa hàng Ngọc Hằng, số 155, Ngô Gia Tự, quận Long Biên, Hà Nội<p>
            <p><span class="glyphicon glyphicon-phone" role="mobile phone number"></span> 0977 668 034</p>
            <p><span class="glyphicon glyphicon-phone-alt" role="telephone number"></span> 043 827 3542</p>
          </li>
        </ul>
        </li>
        <li>
        <h5>Thanh Trì</h5>
        <ul>
        <li>
          <p> Cửa hàng Hùng Loan, số 376, Ngọc Hồi, Văn Điển, Thanh Trì, Hà Nội</p>
            <p><span class="glyphicon glyphicon-phone" role="mobile phone number"></span> 016565 38961</p>
            <p><span class="glyphicon glyphicon-phone-alt" role="telephone number"></span> 043 861 4219</p>
          </li>
        </ul>
        </li>
      </ul>

    </div>
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-4by3" style="margin-top: 40px;">
        <iframe src="https://www.google.com/maps/d/embed?mid=16oPzFwMUFAqDYi2hByj8aDV8HWs&hl=en"></iframe>
      </div>
    </div>
    <br>
    <div class="col-sm-10">
      <h4><b>Đà Nẵng:</b></h4>
    </div>
    <br>
    <div class="col-sm-10">
      <h4><b>TP Hồ Chí Minh:</b></h4>
    </div>
    <br>
    <div class="col-sm-10">
      <small>*Hệ thống đang tiếp tục cập nhật danh sách. Để liên hệ mua hàng, bấm vào <a href="/lienhe">đây</a></small>
    </div>
  </div>
  <hr>
</div>
</section>
<div class="container-fluid footer-container">
  <div class="container">
    <h4 style="color: #08A650">Công ty Cổ phần Ngoại Thất Fansipan</h4>
    <div class="row">
      <div class="col-sm-5 col-xs-12">
        <h5>Văn phòng đại diện</h5>
        <p>Địa chỉ: <em>Số 45 - Tỉnh lộ 392 - Tráng Liệt - Bình Giang - Hải Dương</em></p>
        <p>Telephone: <em>03203 776 269</em></p>
        <p>Mobile Phone: <em>0936 258 088</em></p>
        <p>Fax: <em>03203 799 309</em></p>
        <p>Email: <em>ngoaithatfansipan@gmail.com</em></p>
      </div>
      <div class="col-sm-4 col-xs-12">
        <h5>Nhà máy</h5>
        <p>Địa chỉ: <em>Km 18 - Tỉnh lộ 394 - Tân Hồng - Bình Giang - Hải Dương</em></p>
      </div>
      <div class="col-sm-3 col-xs-12">
        <h5>Kết nối với chúng tôi</h5>
        <h5><img src="/images/fb.png" width="24px"alt="" /> <a href="https://www.facebook.com/ngoaithatfansipan/">@ngoaithatfansipan</a></h5>
        <h5><img src="/images/twitter.png" width="30px"alt="" /> <a href="https://twitter.com/fansipanpatio/">@fansipanpatio</a></h5>
        <h5><img src="/images/insta.png" width="25px"alt="" /> <a href="https://www.instagram.com/ngoaithatfansipan/">@ngoaithatfansipan</a></h5>
      </div>
    </div>
    <footer class="text-center" style="margin-bottom: 5px; color: #aaa;">Copyright © 2016 Ngoai that Fansipan Joint-stock Company. All rights reserved.</footer>
  </div>
</div>
</body>
  <script type="text/javascript" src="javascripts/script.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81181400-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
